@import "tailwindcss";

@theme {
    --color-green-wedding: #B8B68F;
    --color-cream-wedding: #EBE6D2;
    --color-light-grey-wedding: #DBD3C6;
    --color-yellow-wedding: #DECCA6;
    --color-brown-wedding: #D0C0A7;
}

h1, h2, h3, h4, h5, h5, p {
    font-family: "Red Hat Display";
}

button:hover {
    cursor: pointer;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background: #B8B68F;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    transition: all 0.3s;
}

.btn:hover {
    background: #807e62;
}

/*Sidebar*/

.sidebar-btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #807e62;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    border: 1px solid #807e62;
    transition: all 0.3s;
}

.sidebar-btn:hover {
    background-color: #EBE6D2;
}

.sidebar-btn span {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    transition: all 0.3s;
}

.sidebar-btn:hover span {
    color: #807e62;
}

.sidebar-btn i {
    font-size: 18px;
    color: #FFF;
    transition: all 0.3s;
}

.sidebar-btn:hover i {
    color: #807e62;
}

/*Counter Container*/

.count-cont {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    background: #B8B68F;
    padding: 20px;
    border-radius: 15px;
    min-width: 300px;
}

.icon-cont {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-cont i {
    font-size: 35px;
}

.count-title {
    font-family: "Red Hat Display";
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.count-number {
    font-family: "red Hat Display";
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1.5px;
}